# C++ library ,compiler, IDE directories and files
AI/Boer Bert/bin/
AI/Boer Bert/chronoBuild/
AI/Boer Bert/CMakeFiles/
AI/Boer Bert/Datasets/
AI/Boer Bert/obj/
AI/Boer Bert/Z-test/
AI/Boer Bert/Boer Bert.cbp
AI/Boer Bert/Boer Bert.depend
AI/Boer Bert/Boer Bert.layout
AI/Boer Bert/CMakeCache.txt
AI/Boer Bert/cmake_install.cmake 
AI/Boer Bert/CMakeLists.txt 
AI/Boer Bert/Makefile

# Modules
app/node_modules

# Tauri generated directories
app/src-tauri/target/
app/src-tauri/gen/schemas/

.env