@import "tailwindcss";

html, body, #root {
  @apply h-full w-full;
  font-family: 'Roboto', sans-serif;
  background-color: #171717;
  color: white;
}

.btn-primary {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded hover:cursor-pointer;
}

.btn-secondary {
  @apply bg-white/30 hover:bg-white/40 text-white font-bold py-2 px-4 rounded hover:cursor-pointer;
}

.btn-sidebar {
  @apply flex items-center space-x-2 py-2 px-4 rounded-2xl hover:cursor-pointer;
}