@import "tailwindcss";

/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  @apply w-2 h-2;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-neutral-800;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-white/20 rounded-lg transition-all duration-200;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply cursor-pointer bg-white/30;
}

/* Make scrollbars invisible until hover */
.auto-hide-scrollbar::-webkit-scrollbar {
  @apply w-1 h-1 opacity-0;
}

.auto-hide-scrollbar:hover::-webkit-scrollbar-thumb {
  @apply cursor-pointer opacity-0 bg-white/30;
}
